body {
    background-color:white;
    color: gray; 
    margin: 10PX;
    font-size: 20px;
    font-family: 'Libre Baskerville';
    border-radius: 1px;
}



h1{
  font-family: 'Libre Baskerville' , cursive;
  background-position: left;
  font-size: 20px;
  color: black;
  margin: 10PX

}

p{
font-family: 'Libre Baskerville' , cursive;
  background-position: left;
  font-size: 20px;
  color: black;
  margin: 10px

}

h2{
 font-family: 'Libre Baskerville' , cursive;
  font-size: 25px;
  color: GREY;
  margin: 10px
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 15px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: gray;
  opacity: 0.15;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
color: orange;		
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.card{
text-align: center;

}

img{
height: 250px;
width: 250px;
}